{
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "useTabs": false,
  "singleQuote": false,
  "jsxBracketSameLine": false
}
